.edite-place-forms {
  max-width: 500px;
  height: fit-content;
  margin: auto;
  margin-top: 25px;
  background-color: rgb(221, 226, 236);
}
.edite-place-forms h1 {
  text-align: center;
  background-color: antiquewhite;
  box-shadow: 4px 4px 4px 4px gray;
}

.edite-place-forms div {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.edite-place-forms div input {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
}
.edite-place-forms div select {
  margin-bottom: 13px;
  height: 33px;
  width: 204px;
  border: none;
  border-radius: 6px;
  appearance: none;
  cursor: pointer;
}
.edite-place-forms .edite-place-image {
  display: block;
  margin: auto;
  position: relative;
}
.edite-place-forms .edite-place-image img {
  width: 100%;
  margin: auto;
  height: 150px;
  position: relative;
  margin-top: 20px;
}
.edite-place-forms .edite-place-image button {
  position: absolute;
  left: 90%;
  border: none;
  background-color: rgb(84, 225, 41);
  margin-top: 25px;
  padding-top: 3px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.edite-place-submit button {
  margin: auto;
  margin-top: 10px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: brown;
  color: white;
  margin-bottom: 10px;
}
.image-upload-btn button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 15px;
  width: 105px;
  height: 30px;
  text-align: center;
  padding-top: 7px;
  border: none;
  background-color: blueviolet;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
