.place-view-table {
  max-width: 80%;
  margin: auto;
  margin-top: 20px;
}
.place-view-table .table-head {
  background-color: rgb(59, 233, 169);
  color: white !important;
}
.place-view-options {
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.place-view-options button {
  width: 150px;
  height: 35px;
  border: none;
  cursor: pointer;
}
.place-view-options .place-view-btn-add {
  background-color: green;
  color: white;
}
.place-view-options .place-view-btn-edite {
  background-color: orange;
  color: white;
}
.places-pagination {
  max-width: 350px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.places-btn-action-edit {
  width: 100px;
  height: 25px;
  margin-right: 4px;
  border: none;
  color: white;
  background-color: blue;
  cursor: pointer;
}
.places-btn-action-view {
  width: 100px;
  height: 25px;
  border: none;
  color: white;
  background-color: rgb(22, 149, 17);
  cursor: pointer;
}
.places-particular-content img {
  max-width: 400px;
}
.places-particular-content p {
  max-width: 400px;
  color: green;
}
.places-particular-content span {
  color: red;
}
.search-bar {
  justify-content: center;
  display: flex;
  margin-top: 13px;
}
.searchinput {
  width: 211px;
  height: 34px;
  border-radius: 24px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .place-view-table {
    max-width: 100% !important;
  }
  .places-particular-content img {
    max-width: 300px;
  }
  .places-btn-action-edit {
    width: 100px;
    height: 25px;
    margin-bottom: 4px;
    border: none;
    color: white;
    background-color: blue;
    cursor: pointer;
  }
}
