.nav-container {
  width: 100%;
  height: 80px;
  background-color: aqua;
}

.nav-container p {
  margin: 0;
  padding: 26px;
  font-size: 20px;
  font-weight: 700;
}

.nav-container .nav-bar-Admin:hover{
  color: rgba(9, 224, 70, 0.963);
  cursor: pointer;
}