.home-container {
  max-width: 500px;
  margin: auto;
  text-align: center;
  background-color: rgb(238, 241, 198);
  box-shadow: 10px 10px 10px 10px gray;
  /* height: fit-content; */
}
.form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: auto;
}

.form input {
  width: 67%;
  height: 32px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  padding-left: 20px;
}
.form input:focus-visible {
  border: 2px solid blue;
  outline: none;
}
.form div button {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 35%;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(83, 6, 159);
}
